* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    letter-spacing: 4px;
    cursor: pointer;
}

h1#menu {
    position: fixed;
    right: 15px;
    top: 17px;
    cursor: pointer;
}

p {
    text-align: center;
    color: black;
}

h3 {
    text-align: center;
    color: black;
}

#logo {
    background-color: white;
    color: black;
    text-align: center;
    padding: 15px;
    border-bottom: solid 1px;
}

img#imagemodule {
    padding: 20px;
}

div#header {
    position: fixed;
    z-index: 1;
    width: 100vw;
    top: 0;
    left: 0;
}

div#descr {
    transform: translate(0px, -325px);
}

form {
    text-align: center;
    opacity: 0;
    background-color: white;
    box-shadow: 0px 0px 20px 25px white;
}

form.showmenu {
    opacity: 1;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}

#loadmore {
    justify-content: center;
    display: flex;
}

.invisible {
    visibility: hidden;
}

#closecontainer {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

#module {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgb(194 194 194 / 75%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}

.close {
    position: fixed;
    right: 30px;
    top: 30px;
    font-size: 50px;
    color: white;
    cursor: pointer;
}

#submitcomment {
    width: 400px;
    margin: 5px 5px;
    background-color: transparent;
}

.input-field-comment input {
    width: 400px;
    margin: 0;
    margin: 5px 5px;
    text-align: center;
    background-color: transparent;
}

#commentmodule {
    border-top: solid 1px;
    padding-top: 15px;
    overflow: scroll;
    height: 300px;
}

#content {
    position: fixed;
    top: 100px;
    text-align: center;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 30px 30px 60px 30px #a6a6a6;
    z-index: 99;
    /* clip-path: polygon(
        0 0,
        70% 3%,
        88% 6%,
        99% 27%,
        100% 119%,
        7% 97%,
        -10% 68%,
        6% 35%
    ); */
}

#imagemodule {
    width: 500px;
    height: 500px;
    border-radius: 0;
    object-fit: cover;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    border-bottom: solid 1px;
    margin-bottom: 3px;
}

#closeimg {
    width: 40%;
}

input {
    /* border-radius: 30px; */
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: solid 1px;
    margin-right: 10px;
    width: 200px;
    text-align: center;
    background-color: white;
}

.file {
    border: solid 1px black;
    /* border-radius: 30px; */
    padding: 12px 60px;
    margin: 8px 0;
    position: relative;
    box-sizing: border-box;
    width: 130px;
    color: #787878;
    font-size: 13px;
    cursor: pointer;
    background-color: white;
}

.hide_file {
    padding: 0px;
    margin: 10px 0px;
    height: 40px;
    width: 200px;
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
}

button {
    cursor: pointer;
    /* border-radius: 30px; */
    padding: 12px 20px 12px 20px;
    margin: 8px 0;
    border: solid 1px;
    margin-left: 10px;
    background-color: white;
}

#main {
    padding: 30px;
}

#comments {
    border-bottom: solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    background-color: white;
    border-radius: 30px;
    padding-bottom: 10px;
    padding: 10px;
    margin: 10px;
    /* border: solid 1px; */
}

section#imageboard {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

/* #image-grid {
    flex-direction: row;
} */

#imageboard img {
    height: 600px;
    width: 420px;
    object-fit: cover;
    padding: 5px;
}

img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

img:hover {
    cursor: pointer;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

/* .container p {
    opacity: 0;
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
} */

/* .container p:hover {
    opacity: 1;
} */

.next {
    border: none;
    position: fixed;
    transform: translate(220px, 120px);
    /* height: 107px; */
    width: 50px;
    z-index: 99;
    font-size: 20px;
    padding: 0;
    /* margin: 200px; */
    background-color: transparent;
}
.previous {
    border: none;
    position: fixed;
    transform: translate(-230px, 120px);
    /* height: 107px; */
    width: 50px;
    z-index: 99;
    font-size: 20px;
    padding: 0;
    /* margin: 200px; */
    background-color: transparent;
}

.next-previous button {
    border-radius: 50px;
}

.shape-default {
    clip-path: polygon(
        0 0,
        100% 0,
        100% 0,
        100% 100%,
        100% 100%,
        0 100%,
        0 100%,
        0 0
    );
}
.shape-1 {
    clip-path: polygon(
        25% 24%,
        18% 24%,
        14% 95%,
        44% 18%,
        25% 24%,
        18% 24%,
        14% 95%,
        44% 18%
    );
}

.shape-2 {
    clip-path: polygon(
        32% 40%,
        18% 96%,
        18% 17%,
        85% 78%,
        32% 40%,
        18% 96%,
        18% 17%,
        85% 78%
    );
}

.shape-3 {
    clip-path: polygon(
        86% 72%,
        58% 53%,
        4% 3%,
        78% 31%,
        86% 72%,
        58% 53%,
        4% 3%,
        78% 31%
    );
}

.shape-4 {
    clip-path: polygon(
        83% 40%,
        12% 1%,
        19% 93%,
        95% 7%,
        83% 40%,
        12% 1%,
        19% 93%,
        95% 7%
    );
}

.shape-5 {
    clip-path: polygon(
        91% 73%,
        19% 26%,
        20% 93%,
        53% 99%,
        91% 73%,
        19% 26%,
        20% 93%,
        53% 99%
    );
}

.shape-6 {
    clip-path: polygon(
        14% 65%,
        97% 55%,
        17% 29%,
        6% 66%,
        14% 65%,
        97% 55%,
        17% 29%,
        6% 66%
    );
}

.shape-7 {
    clip-path: polygon(
        65% 82%,
        67% 98%,
        1% 69%,
        60% 35%,
        65% 82%,
        67% 98%,
        1% 69%,
        60% 35%
    );
}
